/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cairo", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #fef8e8;
  --sidebar-color: #FFFF;
  --primary-color: #39629C;
  --text-color: #000000;
  --notify-color: #C32222;
  --main-color: #FF9626;
  --border-color: #cccccc;
  --background-color: #f1f1f1;
  /* ====== Transition ====== */
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
  --transition: all 0.2s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  direction: rtl;
  font-size: .875rem;
  font-weight: 600;
  min-height: 100dvh;
  height: 100dvh;
  display: flex;
  flex-direction: column;

}

/* +++++++++++++++++++++++++++++++++++++++++++ */

.navbar {
  background-color: #ffce94;
  z-index: 9;
  height: 100px;
  letter-spacing: 0.28px;
  min-height: 100px;
}

.nav-container {
  padding: .5rem 1rem !important;
}

.Company-name {
  font-size: 1.2rem;
  font-weight: 600 !important;
}

.icons-content {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
  flex-wrap: wrap;
}

.userDropdown-options img {
  margin: 0px 5px;
}

/* +++++++++++++++++++++++++++++++++++++++++++ */
.navbar-nav .dropdown-menu {
  position: absolute;
  font-size: 14px;
  text-align: start;
  z-index: 9;
  width: auto;
  right: auto;
  left: 0;
}

.warnings {
  background-color: var(--sidebar-color);
  text-align: center;
  color: var(--notify-color);
  box-shadow: 0px 1px 3px 1px #dbd4d496;
  margin-top: 5px;
}

.warnings p {
  margin: 0;
  font-weight: 600;
}

.hide {
  display: none;
}

.userDropdown-options {
  display: flex;
  justify-content: space-between;
  --bs-dropdown-link-active-bg: var(--primary-color);
}

.userDropdown-options img {
  width: 20px;
}

.menu-links {
  direction: rtl;

}

.menu::-webkit-scrollbar {
  width: 5px;
}

.menu::-webkit-scrollbar-track {
  background: rgba(255, 150, 38, 0);
  border-radius: 5px;
}

.menu::-webkit-scrollbar-thumb {
  background: #e4e5e7;
  border-radius: 5px;
  height: 7px;
}
.menu::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background:#dbdfe9;
}
.lang-button-col {
  position: relative;
  cursor: pointer;
}

#myCheckbox {
  position: absolute;
  top: 20%;
  right: 30%;
  width: 20px;
  height: 20px;
}

/* ================================================================================    sidebar1   ======================================================================================= */
/* ================================================================================================================================================================================== */


.sidebar-right.close {
  border-left: 2px solid #ffffff;
}

.sidebar-right.close {
  width: 88px;

}

.sidebar-right li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}


.sidebar-right .icon {
  width: 30px;
  min-width: 60px;
  border-radius: 6px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sidebar-right .text {
  color: var(--primary-color);
  transition: .5s;
}

.sidebar-right .text {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
  width: 100%;
}

.sidebar-right.close .text {
  opacity: 0;
  transition: .1s;

}

.sidebar-right header {
  position: relative;
}

.sidebar-right header .toggle {
  position: absolute;
  top: 40px;
  left: -25px;
  height: 25px;
  width: 25px;
  transform: translateY(-50%) rotate(0deg);
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar-right .menu {
  margin-top: 40px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: ltr;

}
.sidebar-right li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar-right .nav-link .nav-text[data-bs-toggle=collapse]::after {
  color: var(--primary-color);
  cursor: pointer;
}

.sidebar-right .nav-link .nav-text[data-bs-toggle=collapse]::after {
  width: 1rem;
  text-align: center;
  float: left;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
}

.sidebar-right .nav-link .nav-text[data-bs-toggle=collapse].collapsed::after {
  content: '\f104';
}

.collapse-inner {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  padding: 1px 5px;
}

.collapse-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.inner-collapse-arrow {
  background-color: #D9D9D9;
  color: white;
  border-radius: 50%;
  font-size: 9px;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapse-item:hover .inner-collapse-arrow {
  background-color: var(--primary-color);
}

.collapse-item:hover {
  color: var(--primary-color);
}

body.dark .sidebar-right li a:hover .icon,
body.dark .sidebar-right li a:hover .text {
  color: var(--text-color);
}

.sidebar-right .menu-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.nav-link {
  cursor: pointer;
}

/* ================================================================================ Sidebar 2 ======================================================================================= */
/* ================================================================================================================================================================================== */

.sidebar-left {
  padding: 0px;
  width: 360px;
  background: var(--sidebar-color);
  
}

.notification {
  transform: rotate(-90deg);
}

.toggle2 span {
  font-size: 12px;
  color: var(--notify-color);
  font-weight: 800;
}

.toggle-div {
  z-index: 11;
  display: flex;
  position: absolute;
  top: 50%;
  right: -35px;
  height: 120px;
  width: 25px;
  transform: translateY(-50%) rotate(0deg);
  background-color: #ffffff;
  box-shadow: 0px 1px 1px 1px #efedea;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid #cf0119;
  cursor: pointer;
}

.menu-links {
  padding: 0;
}

.dropdown-toggle::after {
  display: none;
}

.User-Avatar {
  width: 50px;
  height: 50px;
}

.Company-name {
  margin: 0;
  font-weight: 600;
}

.Company-Logo-img {
  height: 65px;
}

.bell {
  width: 25px;
}


.mobile-icon {
  display: none;
}

.nav-icon {
  cursor: pointer;
}

/* /////////////////////////////sidebar2 collapses////////////////////////////////// */
.sidebar2.close2 .menu-bar {
  display: none;
}

.accordion .accordion-item {
  background-color: #FAFAFA;
  border: 1px solid #FAFAFA;
  border-radius: 5px;
  box-shadow: -3px 2px 2px 0px #f1eaea;
}

.accordion .accordion-item .accordion-item-description-wrapper hr {
  border: none;
  border-top: 1px solid var(--border-color);
  visibility: visible;
}

.accordion .accordion-item.open .accordion-item-description-wrapper hr {
  visibility: visible;
}

.accordion .accordion-item .accordion-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.accordion .accordion-item .accordion-item-header .accordion-item-header-title {
  font-weight: 600;
}

.accordion .accordion-item .accordion-item-header .accordion-item-header-icon {
  transition: var(--transition);
}

.accordion .accordion-item.open .accordion-item-header .accordion-item-header-icon {
  transform: rotate(-180deg);
}

.accordion .accordion-item .accordion-item-description-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  /* overflow: hidden; */
  transition: var(--transition);
}

.accordion .accordion-item.open .accordion-item-description-wrapper {
  grid-template-rows: 1fr;
}

.accordion .accordion-item .accordion-item-description-wrapper .accordion-item-description {
  min-height: 0;
}

.accordion .accordion-item .accordion-item-description-wrapper .accordion-item-description p {
  padding: 10px;
  line-height: 1.5;
}

.accordion-item-description-wrapper {
  font-size: 14px;
}

.employee-custody-img {
  width: 35px;
  height: 35px;
  border: 1px solid #c5c0c0;
  border-radius: 50%;
  margin: 0px 5px;
}

.notify {
  height: 9px;
  width: 9px;
  background-color: var(--notify-color);
  display: inline-block;
  border-radius: 50%;
  margin: 0px 5px;
}

.working {
  color: var(--main-color);
  text-align: end;
  font-size: 12px;

}

.ended {
  color: var(--notify-color);
  text-align: end;
  font-size: 12px;
}

.later {
  color: var(--primary-color);
  text-align: end;
}

.contract-ended {
  text-align: end;
}

.collapse-row p {
  margin: 0;
}

.collapse-hr {
  margin: .3rem 0rem;
}

.collapse-row {
  justify-content: space-between;
  align-items: center;
}

/* ================================================================================    Media   ======================================================================================= */
/* ================================================================================================================================================================================== */

.Company-Logo {
  order: 2;
  /* Logo will appear second */
}

.Company-name {
  order: 3;
  /* Company name will appear third */
}

.mobile-icon {
  order: 1;
  /* Bars icon will appear first */
}

@media (max-width: 768px) {
  .Company-name {
    display: none;
  }

  .Company-Logo {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
    left: 0;
    right: auto;
  }

}

@media (max-width: 1024px) {
  .navbar {
    position: sticky;
    top: 0;
  }

  #userDropdown {
    align-items: center;
    justify-content: center;
    text-align: center !important;
  }

  .mobile-icon {
    display: block;
  }
}




/* ================================================================================    content   ======================================================================================= */
/* ================================================================================================================================================================================== */
#sidebar-right-mainScreen {
  z-index: 999;
}

.home-wrapper {
  min-height: 100dvh;
  height: 100%;
}

.car {
  position: fixed;
  bottom: -10px;
  width: 75%;
  right: 25%;
  /* z-index: 1; */
}

.up {
  position: fixed;
  top: -50px;
  width: 50%;
  z-index: -1;
  left: 0px;
}

.down {
  position: fixed;
  bottom: 0px;
  width: 50%;
  right: 0;
  z-index: -1;
}

@media (max-height : 367px) {

  .car,
  .down,
  .up {
    display: none;
  }

  .home-wrapper {
    background-image: url(../images/bg\ \(1\).svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100dvh;
    height: 100%;
  }

}

@media (max-width : 768px) {
  .up {
    width: 100%;
    top: 50px;
  }

}

/* ///// */
.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.active_statue {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 1px;
  border: 1px solid white;
}
.NewUpdate-container {
  margin: 10px auto;
}
/* /////////////////////////// marquee ///////////////////////////// */

@media (max-width: 991px) {
  .navbar {
    flex-wrap: wrap;
    height: auto;
    gap: 1rem;
  }
}
/* ////////////////////////////////////////////////////////////////////////////Main Loader for Pages  //////////////////////////////////////////////////////////*/
div:has(.min-loader-back) {
  position: relative;
}

.min-loader-back {
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: #ffffff3d;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Main-Loader {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Main-Loader::before {
  content: "";
  width: 100%;
  height: 100%;
  --b: 22px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(transparent 10%, #e5c04f) content-box;
  -webkit-mask:
    repeating-conic-gradient(transparent 0deg, #e5c04f 1deg 20deg, transparent 21deg 36deg),
    radial-gradient(farthest-side, transparent calc(100% - var(--b) - 1px), #e5c04f calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: spin 1s infinite steps(10);
}

.Main-Loader img {
  position: absolute;
  /* Keeps it centered */
  width: 50%;
  /* Adjust based on logo size */
  height: auto;
  padding: 5px;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

/* =============================== */
@media (max-width: 1024px) {

  .Company-name {
    font-size: .8rem !important;
  }


  .userName {
    font-size: .8rem;
  }
}



@media (max-width: 560px) {
  .Company-Logo img {
    display: none;
  }

  .nav-container {
    padding: 0px 12px !important;
  }

  .navbar {
    height: auto;
    min-height: 100px;
    letter-spacing: 0.28px;
  }
}

@media (max-width: 425px) {
  .userName {
    font-size: .7rem !important;
  }
}

@media (max-width: 375px) {
  .nav {
    padding: 0.5rem 0.6rem !important;
  }
}

/*  */

.chart-container {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
  direction: ltr;
}

/* Main Container */
.main-container {
    display: flex;
    overflow: hidden;
    flex: 1;
    min-height: 0;
    position: relative;
}


/* Main Content Area */
.content-area {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

/* Table Container */
.table-wrapper {
  flex: 1;
  padding: 10px 0px;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.table-container {
  flex: 1;
  min-height: 0;
  overflow: auto;
  min-height: 200px;
}

.Data-container {
  background-color: white;
  box-shadow: 2px 3px 4px 0px #afb7c27d;
  border-radius: 8px;
  padding: 25px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  height: 95%;
}
@media (max-width: 1024px) {
  .Data-container {
    padding: 15px;
  }
  
}
.status-badge {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
}

.status-active {
  background: #d4edda;
  color: #155724;
}

/* Left Sidebar */
.sidebar-left {
  width: 360px;
  background: white;
  border-right: 2px solid #ddd;
  flex-shrink: 0;
  transition: all 0.3s ease;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  padding: 10px 4px;
}

.sidebar-left.closed {
  width: 0;
  border: none;
  padding: 0;
}

.alert-section {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.menu-bar {
  flex: 1;
  min-height: 0;
}
.sidebar-left .menu{
padding: 10px;
}
.menu {
  height: 98%;
  overflow: auto;
}

/* Right Sidebar  */
.sidebar-right {
  padding: 0px;
  width: 300px;
  background: var(--sidebar-color);
  border-left: 2px solid var(--primary-color);
  transition: width 0.3s ease;
  flex-shrink: 0;
  position: relative;
  padding: 10px 14px;
}

.sidebar-right.closed {
  width: 88px;
  border-left: 2px solid #ffffff;
}


.sidebar-right.closed .text {
  opacity: 0;
  width: 0;
  transition: opacity 0.1s ease, width 0.1s ease;
}


.sidebar-right .text {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: opacity 1.5s  ease;
}

.sidebar-right:not(.closed) .text {
  opacity: 1;
  width: 100%;
}


.collapse-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.3s ease 0.25s;
}

.sidebar-right:not(.closed) .collapse-item {
  opacity: 1;
}

.sidebar-right.closed .collapse-item {
  opacity: 0;
  transition: opacity 1.5s ease;
}


/* Toggle button */
.toggle-btn {
  position: absolute;
  left: -12px;
  top: 40px;
  width: 25px;
  height: 25px;
  background: var(--primary-color);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 20;
  font-size: 22px;
}

.sidebar-right.closed .toggle-btn {
    transform: rotate(180deg);
}

.toggle-div {
  z-index: 11;
  display: flex;
  position: absolute;
  top: 50%;
  right: -35px;
  height: 120px;
  width: 25px;
  transform: translateY(-50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 1px 1px #efedea;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid #cf0119;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.sidebar-right .nav-link{
  overflow: hidden;
}

.accordion-item-description-wrapper {
  transition: grid-template-rows 0.3s ease;
}
.accordion-item-description{
  overflow-x: auto;
  overflow-y: hidden;
}

/* custom class  */
.flex-1 {
  flex: 1;
}
.min-h-0 {
  min-height: 0 !important;
}
/* Vido icon  */
.video-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: none;
  transition: transform 0.4s ease, background-color 0.4s ease;
}
.video-btn:hover {
    background-color: var(--primary-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(135, 174, 228, 0.4);
}
.video-btn img {
  width: 24px;
  height: 24px;
}

/* Responsive */
@media (max-width: 1024px) {

  .sidebar-right{
    position: fixed;
    height: calc(100dvh - 100px);   
    z-index: 7;
  }
  .sidebar-right {
    right: 0;
  }

  .sidebar-right.closed {
    right: -250px;
  }

}
